body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    margin: 0;
    padding: 0;
    height: 100vh; /* Full height */
    display: flex; /* Flexbox for layout */
}

.container {
    width: 70%; /* Half width */
    height: 80%; /* Full height */
    padding: 20px;
    background: #b5f0d0; /* Background color for the container */
    border-radius: 0; /* No rounding */
    box-shadow: none; /* No shadow */
    overflow-y: auto; /* Enable scrolling if content overflows */
    margin: auto; /* Center the container vertically */
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.actions {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
    font-size: 36px; /* Increase icon size */
}

.error-messages {
    color: red;
    margin-bottom: 15px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in total width */
}

textarea {
    height: 300px; /* Set a fixed height for the textarea */
}

button {
    background-color: #13a544; /* Primary button color */
    color: white;
    border: none;
    padding: 15px 20px; /* Enlarged padding for the button */
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width button */
}

button:hover {
    background-color: #0abe22af; /* Darker shade for hover effect */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
